<html>
    <body>
        <script src="https://unpkg.com/kaboom@3000.0.0-beta.2/dist/kaboom.js"></script>
        <script src="{{ url_for('static', filename='js/assetLoader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scenes/world.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scenes/battle.js') }}"></script>
        <script >
            kaboom({
                width: 1280,
                height: 720,
                scale: 0.7,
                });
                
                setBackground(Color.fromHex("#36A6E0"));
                
                loadAssets("{{ url_for('static', filename='assets/characters.png')}}","{{ url_for('static', filename='assets/battleBackground.png')}}","{{ url_for('static', filename='assets/tiles.png')}}");
                
                scene("world", (worldState) => setWorld(worldState));
                scene("battle", (worldState) => setBattle(worldState));
                
                go("world");
        </script>
        
    </body>
</html>